@import 'styles/variaveis';

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

    &__texts {
        span {
            font-size: 3.2rem;
            letter-spacing: 0;
            font-family: $font-bellafair;
            color: $cinza;
            opacity: 0.5;
            text-transform: uppercase;
        }

        h3 {
            font-size: 5.6rem;
        }

        p {
            width: 444px;
        }
    }

    img {
        height: 80%;
        align-self: flex-end;
    }
}