@import 'styles/variaveis';

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

    &__texts {
        width: 488px;
        margin-top: 6rem;

        span {
            font-size: 3.2rem;
            letter-spacing: 0;
            font-family: $font-bellafair;
            color: $cinza;
            opacity: 0.5;
            text-transform: uppercase;
        }

        h3 {
            font-size: 5.6rem;
            margin-top: 1rem;
        }

        p {
            width: 444px;
            height: 128px;
            display: flex;
            align-items: center;
            margin-top: 2rem;
        }
    }

    img {
        height: 80%;
        align-self: flex-end;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}