@import 'styles/variaveis';

.link {
    padding: 4rem 0;
    display: flex;
    gap: 1.2rem;
    text-decoration: none;

    span {
        font-family: $font-barlow;
        font-weight: bold;
        font-size: 1.6rem;
        color: $branco;
    }

    p {
        font-family: $font-barlow;
        font-size: 1.6rem;
        color: $branco;
        text-transform: uppercase;
        letter-spacing: 2.7px;
    }

    &:hover {
        border-bottom: 2px solid rgba(255, 255, 255, 0.482);
    }
}

.ativo {
    border-bottom: 2px solid $branco;
}

@media only screen and (max-width: 768px) {
    .link {
        padding: 4rem 1rem;

        span {
            display: none;
        }

        p {
            font-size: 1.4rem;
            letter-spacing: 2.36px;
        }

        &:hover {
            border-bottom: 3px solid rgba(255, 255, 255, 0.482);
        }
    }

    .ativo {
        border-bottom: 3px solid $branco;
    }
}

@media only screen and (max-width: 375px) {
    .link {
        span {
            display: block;
        }
    }
}