@import 'styles/variaveis';

.container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    section {
        padding-top: 15rem;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;

        .texts {
            padding-inline: 20%;
            position: relative;

            h3 {
                margin-bottom: 2rem;
            }
        }

        .exploreBtn {
            width: 274px;
            height: 274px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 50%;
            background: $branco;
            justify-self: center;
            align-self: center;
            margin-top: 10rem;
            margin-left: 15rem;
            position: relative;
            z-index: 2;

            p {
                position: relative;
                z-index: 2;
                font-size: 3.2rem;
                font-weight: normal;
                font-family: $font-bellafair;
                letter-spacing: 2px;
                color: $escuro;
            }

            &::before {
                content: "";
                position: absolute;
                width: 274px;
                height: 274px;
                background: $branco;
                opacity: 0.2;
                border-radius: 50%;
                z-index: 1;
                transition: 1s ease all;
                border: 1px solid #979797;
            }
        }

        .exploreBtn:hover {
            &::before {
                transform: scale(1.6);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        min-height: 100vh;

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10rem;

            .texts {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                h3 {
                    margin-bottom: 1rem;
                }

                p {
                    text-align: center;
                }
            }

            .exploreBtn {
                margin: 0;
                width: 242px;
                height: 242px;
                z-index: 1;
                
                &::before {
                    width: 242px;
                    height: 242px;
                }
            }

            .exploreBtn:hover {
                &::before {
                    transform: scale(1.3);
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .container {
        section {
            gap: 8rem;
            padding-top: 12rem;

            .texts {
                padding-inline: 10%;
            }

            .exploreBtn {
                width: 150px;
                height: 150px;
                z-index: 1;

                p {
                    font-size: 2rem;
                    letter-spacing: 1.25px;
                }

                &::before {
                    width: 150px;
                    height: 150px;
                }
            }

            .exploreBtn:hover {
                &::before {
                    transform: scale(1.2);
                }
            }
        }
    }
}