@import 'styles/variaveis';

.navegacao {
    display: flex;
    gap: 2rem;
    align-items: center;
    position: absolute;
    bottom: 4rem;
    left: 17rem;

    .navItem {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $branco;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .navItemAtivo {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
}