@import 'styles/variaveis';

.header {
    padding: 2.4rem 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100vw;

    img {
        padding-left: 4rem;
    }

    .line {
        width: 33%;
        background: $cinza;
        height: 1px;
        position: absolute;
        left: 10%;
        opacity: 0.3;
        z-index: 2;
    }

    nav {
        display: flex;
        height: 96px;
        backdrop-filter: blur(81.55px);
        padding-inline: 6rem 2.4rem;
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        background: rgba($color: $cinza, $alpha: 0.04);
    }
}